.login-container {
  display: flex;
  flex-grow: 1;
}

.login-left-section,
.login-right-section {
  width: 100%;
}

/* .login-right-section {
  background-color: red;
} */

.login-right-section > img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 650px) {
  .login-right-section {
    display: none;
  }
}
