.book-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}
.card-text-container {
  width: 80%;
  margin: 0 auto;
}
.book-title {
  text-align: center;
  min-height: 3rem;
  font-size: 2rem !important;
}

.book-details {
  margin: 0 auto;
  padding: 0 0.5rem;
}

.rent-action {
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #ddd;
  padding: 0 !important;
  border-radius: 10px;
}
